* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


  /* UTILITIES */

body {
    background: rgba(0,0,0, .4);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;

}

/* Zona bottoni */
.btn-new-todo {
    padding: 6px 35px;
    text-transform: uppercase;
    font-size: 14px;
    background-color:#00e165;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: background .4s ;
}


.btn-new-todo:hover,
.btn-new-todo:focus{
    background:  rgb(7, 7, 7);
    color:#00e165 ;
}

/* HEADER SECTION (img) */

.icon-header {
   margin: 30px 0;
    text-align: center; 
}


.icon-header img {
    max-width: 500px;
}

/* BARRA RICERCA */

.new-todo {
    display: flex;
}

.new-todo input {
    flex-grow: 1;
    height: 30px;
    margin-right: 20px;
    border: 0;
    color:  #000000;
     background: rgba(0,0,0, .2); 
    border-bottom: 1px solid  rgba(0,0,0, .2); 
    outline: none;
    transition: border .3s;
} 

.new-todo input:hover,
.new-todo input:focus {
    border-color: #00e165;
}

/* TODO SECTION */

.todos-section {
    margin: 45px 0;
}

.todos-list {
    padding: 15px 30px;
     background-color:rgba(0,0,0, .3) ; 
     box-shadow: 0 15px 10px -10px rgba(0,0,0, .3 ); 
}

 .todo {
    display: flex;
    padding: 10px 0;
    border-bottom:  1px solid rgba(0,0,0, .1 );
    cursor: pointer;
}
 
.todo:last-child {
    border: none
}


.todo .text {
    position: relative;
    flex-grow: 1;
    padding: 0 30px;
} 




/* TODO COMPLETATI */


.todo .text.completed {
    text-decoration: line-through;
}



/* TODO CHE ELIMINO */

.todo .delete:hover {
    color:  #00e165;
}
.text:hover {
    color:  #00e165;
}


.wave {
    position: fixed;
    left: 0;
    bottom: 0;
}