* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


  /* UTILITIES */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;

}

/* Zona bottoni */
.btn-new-todo {
    padding: 6px 35px;
    text-transform: uppercase;
    font-size: 14px;
    background-color:#00e165;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: background .4s ;
}


.btn-new-todo:hover,
.btn-new-todo:focus{
    background:  rgb(161, 161, 161);
}

/* HEADER SECTION (img) */

.icon-header {
   margin: 30px 0;
    text-align: center; 
}


.icon-header img {
    max-width: 500px;
}

/* BARRA RICERCA */

.new-todo {
    display: flex;
}

.new-todo input {
    flex-grow: 1;
    height: 30px;
    margin-right: 20px;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    transition: border .3s;
} 

.new-todo input:hover,
.new-todo input:focus {
    border-color: #00e165;
}